body{
    background-image: url("../../Image/Fonds/fondenferA2Fin.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size:  75px;
    text-align: center;
    color: darkviolet;
    text-shadow: 0 0 10px black;
}

h2{
    font-size:  30px;
    text-align: center;
    color: darkviolet;
    text-shadow: 0 0 10px black;
    border-radius: 30px;
    background: rgba(0,0,0, 0.5);
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.choix{
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background: rgba(255,255,255, 0.1);
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

@media (orientation: portrait) {
    h1{
        font-size:  40px;
    }

    h2{
        font-size:  20px;
    }
}