body{
    background-image: url("../../Image/Fonds/fondenferB2Fin.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1{
    font-size:  75px;
    text-align: center;
    color: yellow;
    text-shadow: 0 0 10px black;
}

h2{
    font-size:  30px;
    text-align: center;
    color: yellow;
    text-shadow: 0 0 10px black;
}

.choix{
    display: flex;
    justify-content: space-evenly;
}