body{
    background-image: url("../../Image/Fonds/fondenferB.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size:  75px;
    text-align: center;
    color: darkred;
    text-shadow: 0 0 10px black, 0 0 16px lightgoldenrodyellow;
}

h2{
    font-size:  30px;
    text-align: center;
    color: darkred;
    text-shadow: 0 0 3px black, 0 0 10px lightgoldenrodyellow;
}

.choix{
    display: flex;
    justify-content: space-evenly;
}

@media (orientation: portrait) {
    h1{
        font-size:  40px;
    }

    h2{
        font-size:  20px;
    }
}